<h1>Pickaxe Stats</h1>


<ul class="nav nav-tabs">
    <li class="active">
        <a href="#">Home</a>
    </li>
    <li>
        <a href="query">Query</a>
    </li>
</ul>
<p>
    This is the home page. Type /query to find info about the miner.
    More improvements to come soon!
</p>
<p>
<%=
    ask nil
%>
</p>
