<h1>Gatekeeper</h1>
<p>
    This is the home page. Type /query to find info about the miner.
    More improvements to come soon!
</p>
<form name="input" action="query" method="get">
    <input type="submit" value="submit">
</form>
