<!DOCTYPE html>
<html>
    <head>
        <title>Joey's Raspberry Pi</title>
        <link rel="stylesheet" href="/bootstrap.css">
    </head>
    <body>
            
        <%= yield %>
    </body>
</html>
