<h1>Pickaxe Stats</h1>
<ul class="nav nav-tabs">
    <li>
        <a href="/index">Home</a>
    </li>
    <li class="active">
        <a href="#">Query</a>
    </li>
</ul>
<form method="get" action="query">
    CGMiner Query: <input type="text" name="querytext">
    <input class="btn btn-primary" type="button" value="Go!" >
</form>

<%=
     ask params[:querytext]
%>
